    .frame.mobile .browse-image-grid-container { /* Force layout rules inside each .frame for visual simulation */
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
    }

    .frame.tablet .browse-image-grid-container {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 20px;
    }

    .frame.desktop .browse-image-grid-container {
      display: grid;
      grid-template-columns: repeat(8, 1fr);
      gap: 20px;
    }

.browse-image-grid-container {
  display: grid;
  grid-template-columns: repeat(2, 160px); /* Two columns, each 160px wide */
  grid-template-rows: repeat(3, 160px); /* Three rows, each 160px high */
  gap: 22px; /* Gap between images */
  justify-content: center; /* Center the grid horizontally */
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 18px;
}

.browse-image-grid-container img {
  width: 100%; /* Make images fill their grid cells */
  height: 100%;
  object-fit: cover; /* Maintain aspect ratio and cover the entire cell */
}

.browse-image-grid-container a:nth-child(n+7) { /* Hide extra thumbnails on mobile */
  display: none;
}

img {
  max-width: 100%;
  height: auto;
}

@media (min-width: 48em) { /* Tablet 768px and up  */
  .tablet {
    display: inline-block;
  }

  .browse-image-grid-container {
    grid-template-columns: repeat(4, 164px); /* Four columns, each 164px wide */
    grid-template-rows: repeat(4, 164px); /* Four rows, each 164px high */
    gap: 16px; /* Gap between images */
  }
  
  .browse-image-grid-container a:nth-child(n+7) { /* Show all thumbnails on tablet */
    display: block;
  }
}


@media (min-width: 90em) { /* Desktop 1440px and up */
  .browse-image-grid-container {
    grid-template-columns: repeat(4, 256px); /* Four columns, each 256px wide */
    grid-template-rows: repeat(4, 256px); /* Four rows, each 256px high */
    gap: 24px; /* Gap between images */
  }
}