.card__category {
  font-family: 'Mulish', sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: #ECF0F1;
  margin: 0;
}

.card__title {
  font-family: 'Libre Baskerville', serif;
  font-size: 24px;
  line-height: 32px;
  font-weight: 400;
  color: #ECF0F1;
  margin: 10px 0 0 0;
}